# --- For-Bot-Working --------- #
pyrofork
TgCrypto
pyromod==3.1.6
python-dotenv
# --- For-Database ------------ #
pymongo
motor
umongo
marshmallow
dnspython
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
